.visually-hidden {
  position:  absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;

  width: 100%;

  font-family: "PT Sans", "Arial", sans-serif;

  background-color: #f2f2f2;

  text-transform: uppercase;
}
.wrapper {
  width: 1200px;
  margin: 0 auto;

  box-shadow:  0 5px 15px rgba(0, 1, 1, 0.20); /*0-Ось Х-смещение, 0-Ось У-смещение, 5px- Размытие тени, 15px- Толщина тени, rgba- Цвет тени */
}

.menu-nav {
  position: relative;

  font-weight: 700;
  background-color: #ffffff;
}

.menu-nav a img{
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.menu-list {
  list-style: none;
  height: 56px;
}
.menu-list li {
  display: inline-block;
}

.menu-click {
  text-decoration: none;
  color: #000000;
}

.menu-click:hover {             /*НАВЕДЕНИЕ на ссылку меняет цвет*/
  color: #81b3d2;
}
.menu-click:visited {           /*НАЖАТИЕ на ссылку меняет цвет*/
  color: #dadada;
}
.menu-click:active {            /*АКТИВНАЯ ссылка меняет цвет*/
  color: rgba(0, 0, 0, 0.302);
}
